@model FootballMVC.Models.Entities.Standing
@{
    ViewData["Title"] = "SaveAllToDateBase";
}

<h1>@ViewData["Answer"]</h1>

<div>
    <a asp-action="ViewStandingByLeagID" asp-route-id="@Model.Competition_Id">Назад</a>
</div>

