@model FootballMVC.Models.Entities.Competition
@{
    ViewData["Title"] = "SaveToDateBase";
}
@{
    if (Model != null)
    {
        <h1>Турнір вже був збережений в базі даних</h1>
    }
    else
    {
        <h1>Збережено</h1>
    }
}
<div>
    <a asp-controller="CompetitionApi" asp-action="CountryLeags" asp-route-id="@Model.CountryId">Назад</a>
</div>
