@model FootballMVC.Models.Entities.Competition
@{
    ViewData["Title"] = "SaveToDateBase";
}

<h1>@ViewData["Answer"]</h1>

<div>
    <a asp-action="CountryLeags" asp-route-id="@Model.CountryId">Назад</a>
</div>

